<%=flash[:notice]%>

<ul>
  <% @bookmarks.each do |bookmark| %>
    <li id="bookmark-<%= bookmark.id %>">
      <a href="<%= bookmark.url %>" target="_blank">
        <%= bookmark.title %>
      </a>
      <form action="/bookmarks/<%= bookmark.id %>" method="post">
        <input type='hidden' name='_method' value='DELETE'/>
        <input type='hidden' name='id' value='<%= bookmark.id %>'>
        <input type='submit' value = "Smash!"/>
      </form>
      <form action="/bookmarks/<%= bookmark.id %>/edit" method="get">
        <input type='hidden' name='id' value='<%= bookmark.id %>'>
        <input type='submit' value = "Fabit!"/>
      </form>
    </li>
  <% end %>
</ul>


<!--<a href="url">link text</a>
